.p-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 288px;
  height: 192px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.p-data .qr {
  width: 100%;
  height: 20%;
}

.p-data .qr-num1 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.p-data .qr-num2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
}

.p-data .qr-name1 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.p-data .qr-name2 {
  margin-left: auto;
    margin-right: auto;
  font-size: 13px;
  text-align: center;
}